---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "workshop-operator.fullname" . }}-metrics-service
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "workshop-operator.labels" . | nindent 4 }}
    control-plane: controller-manager
spec:
  ports:
    - name: https
      port: 8443
      targetPort: https
  selector:
    {{- include "workshop-operator.selectorLabels" . | nindent 4 }}
    control-plane: controller-manager