apiVersion: workshop.stakater.com/v1
kind: Workshop
metadata:
  name: cloud-native-workshop
  namespace: workshop-infra
spec:
  user:
    number: 1
    password: openshift
  source:
    gitURL: https://github.com/stakater/cloud-native-workshop
    gitBranch: "5.1"
  infrastructure:
    guide:
      scholars:
        enabled: false
        guideURL: 
          "inner-loop" : "https://redhat-scholars.github.io/inner-loop-guide/inner-loop/5.0/index.html"
          "outer-loop" : "https://redhat-scholars.github.io/outer-loop-guide/outer-loop/5.0/index.html" 
    codeReadyWorkspace:
      enabled: false
      operatorHub:
        channel: latest
        clusterServiceVersion: crwoperator.v2.10.1
      openshiftOAuth: false
    gitea:
      enabled: true
      image:
        name: quay.io/gpte-devops-automation/gitea-operator
        tag: v0.17
    gitops:
      enabled: true
      operatorHub:
        channel: stable
        clusterServiceVersion: openshift-gitops-operator.v1.2.0
    nexus:
      enabled: false
      image:
        name: quay.io/mcouliba/nexus-operator
        tag: v0.10      
    vault: 
      enabled: false
      image: 
        name: hashicorp/vault
        tag: 1.8.2
      agentInjectorImage:
        name: hashicorp/vault-k8s
        tag: 0.13.0        
    pipeline:
      enabled: false
      operatorHub:
        channel: stable
        clusterServiceVersion: redhat-openshift-pipelines.v1.5.0
    project:
      enabled: true
      stagingName: cn-project
    serviceMesh:
      enabled: false
      serviceMeshOperatorHub:
        channel: "stable"
        clusterServiceVersion: servicemeshoperator.v2.0.7
      elasticSearchOperatorHub:
        channel: "stable"
      jaegerOperatorHub:
        channel: "stable"
      kialiOperatorHub:
        channel: "stable"
        clusterServiceVersion: kiali-operator.v1.24.9
